@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  @apply w-full p-3 border rounded focus:outline-none focus:ring-2 focus:ring-orange-400;
}
.menu-item {
  @apply block px-4 py-2 text-sm hover:bg-gray-100 transition;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
